@page
@model Banciu_Adrian_Lab2.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PublisherData.Publishers.First().PublisherName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model.PublisherData.Publishers)
        {
            <tr class="@(publisher.ID == Model.PublisherID ? "table-success" : "")">
                <td>@Html.DisplayFor(model => publisher.PublisherName)</td>
                <td>
                    <a asp-page="./Index" asp-route-id="@publisher.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@publisher.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@publisher.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@publisher.ID">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
@if (Model.PublisherData.Books != null)
{
    <h3>Books Edited by Selected Publisher</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.PublisherData.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}
